In [1]:
import warnings
warnings.filterwarnings('ignore')

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from matplotlib.colors import ListedColormap
from sklearn.model_selection import train_test_split
from scipy.stats import boxcox
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.model_selection import GridSearchCV, StratifiedKFold
from sklearn.metrics import classification_report, accuracy_score
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier

In [2]:
df = pd.read_csv('iot.csv')
df

,Age,temp,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,36.58,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,36.73,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,36.93,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,37.15,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,37.23,M,NAP,150,195,0,Normal,122,N,0.0,Up,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,58,37.73,M,ASY,130,263,0,Normal,140,Y,2.0,Flat,1
96,43,37.77,M,ATA,142,207,0,Normal,138,N,0.0,Up,0
97,39,38.01,M,NAP,160,147,1,Normal,160,N,0.0,Up,0
98,56,38.04,M,ASY,120,85,0,Normal,140,N,0.0,Up,0
99,41,38.07,M,ATA,125,269,0,Normal,144,N,0.0,Up,0

In [3]:
from sklearn.preprocessing import LabelEncoder
gender_le = LabelEncoder()
gender_le.fit(['M','F'])
gender_le.classes_
df['Sex'] = gender_le.transform(df['Sex'])

In [4]:
ecg_le = LabelEncoder()
ecg_le.fit(df['ChestPainType'])
df['ChestPainType'] = ecg_le.transform(df['ChestPainType'])
ecg_le.classes_

array(['ASY', 'ATA', 'NAP'], dtype=object)

In [5]:
ecg_le = LabelEncoder()
ecg_le.fit(df['RestingECG'])
df['RestingECG'] = ecg_le.transform(df['RestingECG'])
ecg_le.classes_

array(['Normal', 'ST'], dtype=object)

In [6]:
exg_le = LabelEncoder()
exg_le.fit(df['ExerciseAngina'])
df['ExerciseAngina'] = exg_le.transform(df['ExerciseAngina'])
exg_le.classes_

array(['N', 'Y'], dtype=object)

In [7]:
st_le = LabelEncoder()
st_le.fit(df['ST_Slope'])
df['ST_Slope'] = st_le.transform(df['ST_Slope'])

In [8]:
df

,Age,temp,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,36.58,1,1,140,289,0,0,172,0,0.0,1,0
1,49,36.73,0,2,160,180,0,0,156,0,1.0,0,1
2,37,36.93,1,1,130,283,0,1,98,0,0.0,1,0
3,48,37.15,0,0,138,214,0,0,108,1,1.5,0,1
4,54,37.23,1,2,150,195,0,0,122,0,0.0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,58,37.73,1,0,130,263,0,0,140,1,2.0,0,1
96,43,37.77,1,1,142,207,0,0,138,0,0.0,1,0
97,39,38.01,1,2,160,147,1,0,160,0,0.0,1,0
98,56,38.04,1,0,120,85,0,0,140,0,0.0,1,0
99,41,38.07,1,1,125,269,0,0,144,0,0.0,1,0

In [9]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
X = df.values[:,:-1]
Y = df.values[:,-1:]
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.33, random_state=42)
clf = LogisticRegression(random_state=0)
clf.fit(X_train, y_train)
print("validation accuracy: ",clf.score(X_test,y_test))

validation accuracy:  0.8787878787878788

In [10]:
from sklearn.ensemble import RandomForestClassifier

clf = RandomForestClassifier(max_depth=2, random_state=0)
clf.fit(X_train, y_train)
print("validation accuracy: ",clf.score(X_test,y_test))

validation accuracy:  0.8181818181818182

In [11]:
from sklearn.svm import SVC
clf = SVC()
clf.fit(X_train, y_train)
print("validation accuracy: ",clf.score(X_test,y_test))

validation accuracy:  0.696969696969697